@charset "UTF-8";

.yellowdiv {
	background-color: #8ed9f8;
	background-image: linear-gradient(to top, #8ed9f8 0%, transparent 25%, transparent 75%, #8ed9f8 100%), url("jpg/HD-Gradient-WPXH7719.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
    padding-left: 40px;
    padding-right: 40px;
    width: 80%;
    color: #333;
    margin-left: auto;
	margin-right: auto;
}

.slick-slide {
    text-align: center;
    color: #419be0;
}

.slick-slide img {
    padding: 0px;
    /* ^^^ This is a little bit backwards...so pay attention.
    Adjust the 'background' & 'padding' to change the outline of the images.
    Adjust the 'border' to change the between-space of two images.
    ***
    The reasoning is that the border is the same color as the background (yellow)
    And the padding is the same color as the image (white)
    If you want to better understand what I mean, change the two colors here.
    ***
    Some of this changed since I am now using 'width: fit-content.' */

    margin-left: auto;
    margin-right: auto;
    /* ^^^ margins set to auto means that the image is centered in the div. */

    box-sizing: border-box;
    /* ^^^ box-sizing keeps both the left and right sides padded. 
    Without it, the right side would have no padding.*/

    object-fit: contain;
    height: calc(480px + 12vh - 18vw);
    min-height: calc(15vmin + 100px);
    max-height: 65vmin;
    width: 100%;
    /* ^^^ set to fit the image proportionally, 
    using the sizes given as "constraints".
    ***
    In effort of making the header a "banner" on large screens,
    and trying to make it "full" on small screens, some trickery
    using vh, vw, and vmin was used. These should make them fit
    properly on most screen sizes. */
}

.center-div {
    margin: auto;
    width: fit-content;
    display: table;
}

.expander {
    height: 20px
}

h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    background: #44c9f6;
    border: 10px solid #44c9f6;
    padding: 5px;
}

body {
	background: #333;
	margin: 0px;
}

span {
    white-space: nowrap;
    overflow: hidden;
    /* ^^^ keeps the button and other assets in a single line */
}

.header-button {
	background-color:#3bb3e0;
	font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif';
	font-size: 28px;
	font-weight: 700;
	text-decoration:none;
	color:#fff;
	position: relative;
	padding: 10px 20px;
	padding-right: 50px;
	background-image: linear-gradient(bottom, #2ca0ca 0%, #3eb8e5 100%);
	background-image: -o-linear-gradient(bottom, #2ca0ca 0%, #3eb8e5 100%);
	background-image: -moz-linear-gradient(bottom, #2ca0ca 0%, #3eb8e5 100%);
	background-image: -webkit-linear-gradient(bottom, #2ca0ca 0%, #3eb8e5 100%);
	background-image: -ms-linear-gradient(bottom, #2ca0ca 0%, #3eb8e5 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(
			0, 
			#2ca0ca
		),
		color-stop(
			1, 
			#3eb8e5
		)
	);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.header-button:active {
	top: 3px;
	background-image: linear-gradient(bottom, #3eb8e5 0%, #2ca0ca 100%);
	background-image: -o-linear-gradient(bottom, #3eb8e5 0%, #2ca0ca 100%);
	background-image: -moz-linear-gradient(bottom, #3eb8e5 0%, #2ca0ca 100%);
	background-image: -webkit-linear-gradient(bottom, #3eb8e5 0%, #2ca0ca 100%);
	background-image: -ms-linear-gradient(bottom, #3eb8e5 0%, #2ca0ca 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(
			0,
			#3eb8e5
		),
		color-stop(
			1,
			#2ca0ca
		)
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}

.header-button::before {
	content: "";
	background-image: url("svg/arrow-right-solid.svg");
	/*uses font-awesome. Awesome! Here's their license: https://fontawesome.com/license */
	background-size: 20px auto;
    background-position: center; 
	background-repeat: no-repeat;
	background-color:#2591b4;
	width: 30px;
	height: 30px;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -15px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-moz-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	-o-box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
	box-shadow: inset 0px 1px 0px #052756, 0px 1px 0px #60c9f0;
}

.header-button:active::before {
	top: 50%;
	margin-top: -18px;
	-webkit-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-moz-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	-o-box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
	box-shadow: inset 0px 1px 0px #60c9f0, 0px 3px 0px #0e3871, 0px 6px 3px #1a80a6;
}

.slick-next,
.slick-prev  {
	z-index: 1;
}

.slick-next:before,
.slick-prev:before {
	position: relative;
	text-align: center;
	margin-left: -44px;
    font-size: 128px;
	left: 20%;
	color: #2ca0ca;
	text-shadow: 
		0px 0.5px 0px #3eb8e5,
		0px 1.0px 0px #3eb8e5,
		0px 1.5px 0px #3eb8e5,
		0px 2.0px 0px #156785,
		0px 2.5px 0px #156785,
		0px 3.0px 0px #156785,
		0px 3.5px 0px #156785,
		0px 4.0px 0px #156785,
		0px 4.5px 0px #156785,
		0px 5px 0px #156785,
		0px 10px 5px #999;
}

.slick-next:active:before,
.slick-prev:active:before {
	color: transparent;
	text-shadow:
		0px 3.0px 0px #2ca0ca,
		0px 3.0px 0px #3eb8e5,
		0px 3.5px 0px #3eb8e5,
		0px 4.0px 0px #3eb8e5,
		0px 4.5px 0px #156785,
		0px 5.0px 0px #156785,
		0px 8px 3px #999;
}

.slick-arrow {
	margin: auto;
	width: 109px;
	height: 109px;
}

/* Important note:
I did -not- take internet explorer 11 into consideration.
This carousel works on firefox, chrome, edge, opera, iOS, safari, etc.
- Data shows that about 3.5% of users use ie11 still.
- Microsoft has ended support of ie11 on December 2016.
- There are ways to implement some work-arounds, 
although I simply did not consider them based on this data.
*/